div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main_component {
    height: 100vh;
    align-items: center;
}

mat-card {
    opacity: 0.8;
    width: 20%;
}

form div {
    padding: 5px 5px 5px 5px;
}

form {
    display: inline-grid;
    align-self: center;
}

.mat-raised-button {
    padding: 5px 5px 5px 5px;
    margin: 8px;
}

@media (max-width: 767.98px) {
    mat-card {
        width: 50%;
    }
}

.buttons {
    background-color: #0f172a; 
    color: white;
}

