<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <app-menu (selectedPage)="changePage($event)" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div><a routerLink="/home">Szegedi Menetrendek</a></div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li *ngIf="loggedInUser"><a routerLink="/account">
            <mat-icon>account_circle</mat-icon>
          </a></li>
          <li *ngIf="loggedInUser"><a routerLink="/bookmarks">
            <mat-icon>bookmark_border</mat-icon>
          </a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>