div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.mat-card-header, .mat-card-title {
    font-size: xx-large;
    line-height: 100%;
}

mat-card-content {
    font-size: large;
    line-height: 100%;
}

span {
    padding: 5px 5px 5px 5px;

    .mat-raised-button {
        font-size: large;
        padding: 8px 8px 8px 8px;
    }
}

@media only screen and (min-width: 768px) {
    .main_component {
        overflow: auto;
        height: 100vh;
    }
}

[class*="main_component"] {
    position: relative;
}

mat-card {
    background-color: rgba(255, 255, 255, 0.7);
}

img {
    width: 100%;
    min-width: 100px;
    height: auto;
    opacity: 1;
}